<html>
<head>
  <title>Payment</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</head>
<style>
  body{
    margin: 0px;
    font-family: "Open Sans";
    background-color: #01515c;
  }
 </style>
<body>
 <div style="    margin: auto;
 position: absolute;
 top: 30%;
 left: 0;
 bottom: 0;
 right: 0;
 color:#e2a22a">
   <div style="font-size: 40px;font-weight: bold;text-align: center">Your payment is processed,</div>
   <div style="font-size: 20px;text-align: center">you will receive a notification about replenishing<br> your account in the near future</div>
 </div>
</body>
</html>